.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    font-family: 'ProximaNova', sans-serif;
    min-width: 100px;
    line-height: 2.2rem;
    padding: 6px 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border: 1px solid transparent;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;

    + .wrapper {
        margin-left: 8px;
    }

    &.disable {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}
// rounded
.rounded {
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);
    border-radius: 999px;

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
    }
    &:active {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.06);
    }
}

// Style btn
.primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);

    &:hover {
        border-color: #f0003f;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }

    &:active {
        border-color: #e0003b;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), #fe2c55;
    }
}

.outline {
    color: var(--primary-color);
    border-color: var(--primary-color);
    font-weight: 600;

    &:hover {
        border-color: var(--primary-color);
        background-color: rgba(254, 44, 85, 0.06);
    }

    &:active {
        border-color: var(--primary-color);
        background-color: rgba(254, 44, 85, 0.16);
    }
}

.text {
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

// Type button
.small {
    min-width: 88px;
    padding: 2px 10px;
}
.large {
    min-width: 140px;
    padding: 12px 16px;
}
